@font-face {
  font-family: 'myfont';
  src: url('myfont.eot');
  src: url('myfont.woff2') format('woff2'),
    url('myfont.woff') format('woff'),
    url('myfont.eot#IEfix') format('embedded-opentype'), /* IE6-IE8 */  
    url('myfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('myfont.svg') format('svg');
}
.icon-24:before { content: "\54e0"; }
.icon-ad-1:before { content: "\54e2"; }
.icon-add-pluss-1:before { content: "\8438"; }
.icon-add-pluss-2:before { content: "\8439"; }
.icon-add-pluss-3:before { content: "\843a"; }
.icon-alarm-1:before { content: "\3653"; }
.icon-alarm-clock:before { content: "\991b"; }
.icon-arrow-down-1:before { content: "\dbe4"; }
.icon-arrow-down-2:before { content: "\dbe5"; }
.icon-arrow-down-3:before { content: "\dbe6"; }
.icon-arrow-left-1:before { content: "\7c64"; }
.icon-arrow-left-2:before { content: "\7c65"; }
.icon-arrow-left-3:before { content: "\7c66"; }
.icon-arrow-right-1:before { content: "\a62c"; }
.icon-arrow-right-2:before { content: "\a62d"; }
.icon-arrow-right-3:before { content: "\a62e"; }
.icon-arrow-up-1:before { content: "\a429"; }
.icon-arrow-up-2:before { content: "\a42a"; }
.icon-arrow-up-3:before { content: "\a42b"; }
.icon-backspace:before { content: "\6dfd"; }
.icon-battery-charge:before { content: "\65f1"; }
.icon-battery-discharged:before { content: "\5323"; }
.icon-battery-full:before { content: "\5e91"; }
.icon-battery-half:before { content: "\5eea"; }
.icon-battery-low:before { content: "\cd0e"; }
.icon-bin:before { content: "\c7db"; }
.icon-board:before { content: "\8cee"; }
.icon-boat:before { content: "\53b6"; }
.icon-book-1:before { content: "\86e6"; }
.icon-book-2:before { content: "\86e7"; }
.icon-bookmark-1:before { content: "\caa8"; }
.icon-bookmark-add:before { content: "\e984"; }
.icon-bookmark-added:before { content: "\614f"; }
.icon-bowtie:before { content: "\844d"; }
.icon-box-1:before { content: "\e5ad"; }
.icon-box-2:before { content: "\e5ae"; }
.icon-box-3:before { content: "\e5af"; }
.icon-box-4:before { content: "\e5b0"; }
.icon-brief-bag:before { content: "\c6c2"; }
.icon-browser:before { content: "\9a63"; }
.icon-bubble-1:before { content: "\d206"; }
.icon-bubble-2:before { content: "\d207"; }
.icon-bubble-rounded-1:before { content: "\cce6"; }
.icon-bubble-rounded-2:before { content: "\cce7"; }
.icon-bubble-rounded-chat:before { content: "\6c4f"; }
.icon-bubbles-chat:before { content: "\4ad3"; }
.icon-bus:before { content: "\c96c"; }
.icon-calculator-1:before { content: "\8f71"; }
.icon-calendar-1:before { content: "\b547"; }
.icon-calendar-2:before { content: "\b548"; }
.icon-car:before { content: "\cb18"; }
.icon-card:before { content: "\a6aa"; }
.icon-cards:before { content: "\9061"; }
.icon-chart-1:before { content: "\93c2"; }
.icon-chart-2:before { content: "\93c3"; }
.icon-chart-3:before { content: "\93c4"; }
.icon-chart-4:before { content: "\93c5"; }
.icon-chart-5:before { content: "\93c6"; }
.icon-chart-diagram-1:before { content: "\5335"; }
.icon-chart-diagram-2:before { content: "\5336"; }
.icon-chart-down-1:before { content: "\ccd4"; }
.icon-chart-down-2:before { content: "\ccd5"; }
.icon-chart-up-1:before { content: "\2855"; }
.icon-chart-up-2:before { content: "\2856"; }
.icon-check-1:before { content: "\7fe2"; }
.icon-check-2:before { content: "\7fe3"; }
.icon-check-3:before { content: "\7fe4"; }
.icon-clip:before { content: "\d458"; }
.icon-clock-1:before { content: "\9018"; }
.icon-clock-2:before { content: "\9019"; }
.icon-cloud-download:before { content: "\c719"; }
.icon-cloud-upload:before { content: "\85ea"; }
.icon-cloud:before { content: "\7373"; }
.icon-coin-1:before { content: "\e3ee"; }
.icon-coins-1:before { content: "\83ee"; }
.icon-coins-2:before { content: "\83ef"; }
.icon-color-picker:before { content: "\52c0"; }
.icon-colors:before { content: "\4c8c"; }
.icon-compass:before { content: "\7dca"; }
.icon-coordinate:before { content: "\38ce"; }
.icon-crown:before { content: "\b0c9"; }
.icon-cup-1:before { content: "\c9c8"; }
.icon-dashboard-1:before { content: "\27c4"; }
.icon-delivery-1:before { content: "\953d"; }
.icon-diamond-1:before { content: "\e613"; }
.icon-dollar-1:before { content: "\3777"; }
.icon-iconfont:before { content: "\6b14"; }