@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.woff2') format('woff2'),
    url('iconfont.woff') format('woff'),
    url('iconfont.eot#IEfix') format('embedded-opentype'), /* IE6-IE8 */  
    url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg') format('svg');
}